SIMPLYBOOK_COMPANY_LOGIN=wakeboardmd
SIMPLYBOOK_API_KEY=
SIMPLYBOOK_SERVICE_ID=2
SIMPLYBOOK_PROVIDER_ID=2
BOOKING_TIMEZONE=Europe/Chisinau
PORT=3000

PUBLIC_BASE_URL=
SBPAY_API_BASE_URL=https://app.sbpay.me/api
SBPAY_TOKEN=
SBPAY_SECRET=
SBPAY_MERCHANT=
MAIB_BASE_URL=https://sandbox.maibmerchants.md
MAIB_CLIENT_ID=
MAIB_CLIENT_SECRET=
MAIB_SIGNATURE_KEY=
MAIB_LANGUAGE=ru
PAYMENT_STORE_PATH=.data/maib-payments.json
