html(lang="ru")
    head
        title Wake.md
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="src/scss/styles.scss")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")

    body
        include src/components/header/header

        main
            include src/components/hero/hero

            .container
