extends popup_layout

block vars
  - var popupId = "popup_booking";

block header
  .popup__header
    .popup__logo
      include ../index/logo
    .popup__title
      if langRo
        h2.heading.heading_h2.popup__title_heading Rezervare
        // span Alegeti data si timpul potrivit
      else
        h2.heading.heading_h2.popup__title_heading Бронирование катания
        // span Выберите удобный день и время
      
    ul.popup__buttons
      li.popup__buttons_item
        +button("tel:+37368884689", "./img/sprite.svg#phone", "Позвонить 68 884 689", "button-primary button-number button-icon", (langRo ? "Număr de telefon" : "Номер телефона"))
      li.popup__buttons_item
        +button(false, "./img/sprite.svg#close", "Закрыть", "button-close button-icon js-popup_close", (langRo ? "Închide" : "Закрыть"))

  .popup__content
    .popup__content_text
      if langRo
        | Описание получасового катания, Минимальное время катания 15 мин в получасовом диапазоне.
      else
        | Описание получасового катания, Минимальное время катания 15 мин в получасовом диапазоне.

    form.form
      fieldset.bookin_form
        .bookin_form__calendar
          .form__block
            .calendar
              input(type="text" id="datepicker")
        
        .bookin_form__time
          .form__block
            .timeslots#booking_dates
  
        .bookin_form__name
          .form__block
            .form__field
              input(type="text" placeholder="Имя" name="first_name" id="first_name")
          
        .bookin_form__lastname
          .form__block
            .form__field
              input(type="text" placeholder="Фамилия" name="last_name" id="last_name")
        
        .bookin_form__phone
          .form__block
            .form__field
              input(type="text" placeholder="Номер телефона" name="phone_number" id="phone_number")
        
        .bookin_form__email
          .form__block
            .form__field
              input(type="text" placeholder="E-mail" name="email" id="email")
            
      
      ul.popup__notes
        li.popup__notes_item
          p Бронирование считается подтвержденным только после оплаты задатка в сумме, указанной ниже.
        li.popup__notes_item
          p Задаток возвращается в полном объеме при отмене бронирования не менее чем за 72 часа до назначенного времени катания.
        li.popup__notes_item
          p Задаток возвращается в полном объеме при отмене выезда организаторами в назначенный день.
        li.popup__notes_item
          p Изменить время бронирования можно не позднее 24 часов до назначенного времени катания, по согласованию сторон.

block footer
  .popup__footer
    .popup__footer_in.booking__footer_in
      .booking__price
        span.js-booking_price 
        | &nbsp;леев
      label.form__check.booking__agree(for="agree")
        input(type="checkbox" name="agree" id="agree")
        i
        if langRo
          span Sunt de acord cu #[a(href="./conditions.html" target="_blank") termenii si conditiile]
        else
          span Согласен с #[a(href="./conditions.html" target="_blank") условиями бронирования]
        
      +button("", "./img/sprite.svg#calendar_check", "Оплатить", "booking__submit button-primary button-fill", "", true)
    
