footer.footer.block
  include ../includes/index/slider

  .footer__in.block__in
    .footer__logo
      include ../includes/index/logoWithLines
      include ../includes/index/logo

    .footer__socials
      include ../includes/index/button
      include ../includes/index/socials
