footer.footer.footer_sticky
  .footer__socials
    +button("#", "./img/sprite.svg#calendar_check", (langRo ? "Înscrie-te" : "Записаться"), "booking button-primary button-fill js-popup_opener")(data-target="popup_booking")

    .socials
      a(href="https://www.facebook.com/wake.md" target="_blank" rel="noopener noreferrer" title="Facebook").facebook
        svg
          use(xlink:href="./img/sprite.svg#fi_facebook")
        span Facebook

      a(href="https://www.instagram.com/wake.md/" target="_blank" rel="noopener noreferrer" title="Instagram").instagram
        svg
          use(xlink:href="./img/sprite.svg#fi_instagram")
        span Instagram
      
      a(href="tel:+37368884689" title="68 884 689").phone
        svg
          use(xlink:href="./img/sprite.svg#phone")
        span=(langRo ? "Sună" : "Позвонить")
