doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Wake.md
            meta(content="width=device-width, initial-scale=1" name="viewport")
            link(rel="shortcut icon" type="image/jpg" href="img/favicon.ico")
            link(rel="stylesheet" href="css/styles.min.css")
            link(rel="stylesheet" href="css/splide-core.min.min.css")
            link(rel="preconnect" href="https://fonts.gstatic.com")
            link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
    body
        include ../mixins/button.pug
        block header
            include header
        block content
        block footer
            include footer
            include footer_sticky
        block scripts
            script(src='js/main.min.js')
