section.grid.block
  .grid__in.block__in
    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#fi_map-pin")

        h3.heading.heading_h3 Где всё происходит

      .grid__item-content
        p.subheading Чаще всего заезды происходят вблизи Кишинёва. Вдхр. Гидигич, Днестр, Данчены.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#fi_sun")

        h3.heading.heading_h3 Что <br /> нужно

      .grid__item-content
        p.subheading Мы предоставим всё снаряжение. Вам желательно иметь плавательные шорты, тапочки для воды, полотенце и крем от солнца.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#u_water")

        h3.heading.heading_h3 Умение плавать

      .grid__item-content
        p.subheading Доска и жилет имеет высокую положительную плавучесть. Уметь плавать не нужно, главное не бояться воды. Но и с этим мы поможем.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#u_smile")

        h3.heading.heading_h3 Первый заезд

      .grid__item-content
        p.subheading Перед заездом с вами будет проведен инструктаж. Во время катания вас будет сопровождать инструктор.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#group_alt")

        h3.heading.heading_h3 Для <br /> детей

      .grid__item-content
        p.subheading Вэйкбрдом занимаются дети с 3х лет, но пока мы можем предоставить оборудование для подростков от 12 лет.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#fi_life-buoy")

        h3.heading.heading_h3 Безопасность

      .grid__item-content
        p.subheading Это не травмоопасный вид спорта. Инструктора прошли подготовку и на борту имеется спасательное оборудование.
