section.grid.block
  .grid__in.block__in
    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#fi_map-pin")

        if langRo
          h3.heading.heading_h3 Unde se află
        else
          h3.heading.heading_h3 Где всё происходит

      .grid__item-content
        if langRo
          p.subheading Cel mai adesea tururi au loc lângă mun. Chișinău: rez. Ghidighici, Nistru.
        else
          p.subheading Городской пляж Вадул-луй-Водэ (#[a(href="https://goo.gl/maps/6ChLdr8ZUTgfK1LY7" target="_blank") на карте], #[a(href="./img/wake_md_location.jpg" target="_blank") схема проезда]).

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#fi_sun")

        if langRo
          h3.heading.heading_h3 Ce este <br /> necesar
        else
          h3.heading.heading_h3 Что <br /> нужно

      .grid__item-content
        if langRo
          p.subheading Vom furniza toate echipamentele. Este recomandabil să aveți șorți de apă, papuci pentru apă, un prosop și protecție solară.
        else
          p.subheading Мы предоставим всё снаряжение. Вам желательно иметь плавательные шорты, тапочки для воды, полотенце и крем от солнца.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#u_water")

        if langRo
          h3.heading.heading_h3 Înotul
        else
          h3.heading.heading_h3 Умение плавать

      .grid__item-content
        if langRo
          p.subheading Placa și vesta au o flotabilitate pozitivă. Nu e neaparat să știți să înotați, principal să nu aveți frică de apă. Dar vom ajuta și cu aceasta.
        else
          p.subheading Доска и жилет имеет положительную плавучесть. Уметь плавать не нужно, главное не бояться воды. Но и с этим мы поможем.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#u_smile")

        if langRo
          h3.heading.heading_h3 Prima tură
        else
          h3.heading.heading_h3 Первый заезд

      .grid__item-content
        if langRo
          p.subheading Înainte de tură, veți fi instruiți. Tot timpul veți fi însoțit de un instructor.
        else
          p.subheading Перед заездом с вами будет проведен инструктаж. Во время катания вас будет сопровождать инструктор.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#group_alt")

        if langRo
          h3.heading.heading_h3 Pentru copii
        else
          h3.heading.heading_h3 Для <br /> детей

      .grid__item-content
        if langRo
          p.subheading În wakeboarding sunt implicați copiii de la 3 ani, dar deocamdată putem furniza echipamente pentru adolescenți de la 12 ani.
        else
          p.subheading Вэйкбордом занимаются дети с 3-х лет, но пока мы можем предоставить оборудование для подростков от 12 лет.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#fi_life-buoy")

        if langRo
          h3.heading.heading_h3 Securitate
        else
          h3.heading.heading_h3 Безопасность

      .grid__item-content
        if langRo
          p.subheading Acesta nu este un sport traumatic. Instructorii au fost pregătiți, dar la bord este echipament de salvare.
        else
          p.subheading Это не травмоопасный вид спорта. Инструктора прошли подготовку и на борту имеется спасательное оборудование.
