section.grid.block
  .grid__in.block__in
    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#fi_map-pin")

        h2.heading.heading_h2 Где все происходит

      .grid__item-content
        p.subheading Чаще всего заезды происходят в близи Кишинева. Озеро Гидигич, Ваду-луй-Воды, Данчены.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#fi_sun")

        h2.heading.heading_h2 Что <br /> нужно

      .grid__item-content
        p.subheading Мы предоставим всё снаряжение. Вам желательно иметь плавательные шорты или гидрокостюм и водостойкий, солнцезащитный крем.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#u_water")

        h2.heading.heading_h2 Умение плавать

      .grid__item-content
        p.subheading Доска и жилет имеет высокую положительную плавучесть.  Уметь плавать не нужно, главное не бояться воды. Но и с этим мы поможем.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#u_smile")

        h2.heading.heading_h2 Первый заезд

      .grid__item-content
        p.subheading Перед заездом с вами будет проведен инструктаж. Во время катания вас будет сопровождать инструктор.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#group_alt")

        h2.heading.heading_h2 Для <br /> детей

      .grid__item-content
        p.subheading Вэйкбрдом занимаются дети с 3х лет, но пока мы можем предоставить оборудование для детей от 12 лет.

    .grid__item
      .grid__item-header
        .grid__item-icon
          svg
            use(xlink:href="./img/sprite.svg#fi_life-buoy")

        h2.heading.heading_h2 Безопасность прежде всего

      .grid__item-content
        p.subheading Это не травмоопасный вид спорта. Инструктора прошли подготовку и на борту имеется спасательное оборудование.
