section.hero.block
  .hero__background
    img(src="./img/hero.jpg", alt="")

  .hero__in.block__in
    .hero__inner
      h1.heading.heading_h1 Wakeboarding <br /> in Moldova

      .hero__socials
        include ./button
        include ./socials

      .hero__text
        h4.heading.heading_h4 Вэйкбординг, вэйксёрфинг, вэйкскейтинг и другие активности на воде.

        p.subheading Мы предлагаем инструктаж и катание за гидроциклом и лодкой в Молдове.

      .hero__socials.hero__socials_desktop
        include ./button
