section.hero.block
  .hero__background
    img(src="./img/hero.jpg", alt="")

  .hero__in.block__in
    .hero__inner
      if langRo
        h1.heading.heading_h1 Wakeboarding <br /> în Moldova

        .hero__text
          h4.heading.heading_h4 Wakeboard, wakesurf, schi nautice şi alte activități acvatice.

          p.subheading Descoperă un nou sport captivant, vei progresa cu fiecare cursă dar noi te vom ajuta cu asta!
      else
        h1.heading.heading_h1 Вейкбординг <br /> в Молдове

        .hero__text
          h4.heading.heading_h4 Вэйкбординг, вэйксёрфинг, водные лыжи и другие активности на воде.

          p.subheading Вы откроете для себя новый увлекательный вид спорта, будете прогрессировать с каждым заездом, а мы вам с этим поможем!

      .hero__socials
        +button("tel:+37368884689", "./img/sprite.svg#phone", "68 884 689", "number", (langRo ? "Număr de telefon" : "Номер телефона"))
