section.promo.block#promo
  .promo__in.block__in
    .promo__content
      .promo__item
        .promo__header
          h2.heading.heading_h2 Один сет за гидроциклом
          h3 Заезд 15 минут

        img.promo__image.hydrocycle(src="./img/hydrocycle.png", alt="гидроцикл")

        .promo__footer
          h3 450 лей
          h2.heading.heading_h2 Вэйкборд, Лыжи
          p.subheading Подходит для новичков, освоение базовых навыков и трюков. Инструктаж на суше и в воде.

      .promo__item
        .promo__header
          h2.heading.heading_h2 Один сет за катером
          h3 Заезд 10 минут

        img.promo__image.boat(src="./img/boat.png", alt="катер")

        .promo__footer
          h3 450 лей
          h2.heading.heading_h2 Вэйкборд, Лыжи, Серфинг
          p.subheading Подходит для продвинутых райдеров, высокая волна. Экскурсия по Днестру.

    .promo__addition.subheading
      p В этом виде спорта задействуются все  группы мышц. Даже после одного заезда вам нужно будет несколько дней чтобы воcстановиться.