section#splide.splide
  .splide__track
    ul.splide__list
      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/Rectangle9.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/Rectangle10.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/Rectangle11.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/Rectangle12.jpg", alt="")
      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/img1.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/img2.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/img3.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/img4.jpg", alt="")
