section#splide.splide
  .splide__track
    ul.splide__list
      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle9.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle10.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle11.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle12.jpg", alt="")
      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle9.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle10.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle11.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle12.jpg", alt="")
      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle9.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle10.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle11.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle12.jpg", alt="")
      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle9.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle10.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle11.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle12.jpg", alt="")
      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle9.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle10.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle11.jpg", alt="")

      li.splide__slide
        a(href='#')
          img(src="./img/Rectangle12.jpg", alt="")
