section#splide.splide
  .splide__track
    ul.splide__list
      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/slider/img1.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/slider/img2.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/slider/img3.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/slider/img4.jpg", alt="")
      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/slider/img5.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/slider/img6.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/slider/img7.jpg", alt="")

      li.splide__slide
        a(href='https://www.instagram.com/wake.md/' target="_blank" rel="noopener noreferrer")
          img(src="./img/slider/img8.jpg", alt="")
