.socials
  a(href="https://www.facebook.com/wake.md" target="_blank" rel="noopener noreferrer").facebook
    svg
      use(xlink:href="./img/sprite.svg#fi_facebook")

  a(href="https://www.instagram.com/wake.md/" target="_blank" rel="noopener noreferrer").instagram
    svg
      use(xlink:href="./img/sprite.svg#fi_instagram")

  a(href="https://t.me/wakemd" target="_blank" rel="noopener noreferrer").telegram#telegram.active
    svg
      use(xlink:href="./img/sprite.svg#u_telegram")

  .socials__popup#popup
    h4.heading.heading_h4 Телеграм-канал
    p.subheading Подпишитесь на наш телеграм-канал, чтобы быть в курсе о времени и месте заездов

    button.socials__popup-close#close-popup
      svg
        use(xlink:href="./img/sprite.svg#fi_close")