.socials
  a(href="https://www.facebook.com/wake.md" target="_blank" rel="noopener noreferrer").facebook
    svg
      use(xlink:href="./img/sprite.svg#fi_facebook")

  a(href="https://www.instagram.com/wake.md/" target="_blank" rel="noopener noreferrer").instagram
    svg
      use(xlink:href="./img/sprite.svg#fi_instagram")