.socials
  a(href="https://www.facebook.com/wake.md" target="_blank" rel="noopener noreferrer" title="Facebook").facebook
    svg
      use(xlink:href="./img/sprite.svg#fi_facebook")
    span Facebook

  a(href="https://www.instagram.com/wake.md/" target="_blank" rel="noopener noreferrer" title="Instagram").instagram
    svg
      use(xlink:href="./img/sprite.svg#fi_instagram")
    span Instagram

  a(href="https://t.me/wakemd" target="_blank" rel="noopener noreferrer" title="Telegram").telegram
    svg
      use(xlink:href="./img/sprite.svg#u_telegram")
    span Telegram

  .socials__popup
    if langRo
      p.subheading Abonați-vă la Telegram canalul #[a(href="http://t.me/wakemd", target="_blank" rel="noopener noreferrer") @wakemd] pentru a fi la curent cu ora și locul curselor
    else
      p.subheading Подпишитесь на наш телеграм-канал #[a(href="http://t.me/wakemd", target="_blank" rel="noopener noreferrer") @wakemd], чтобы быть в курсе о времени и месте заездов

    button.socials__popup-close
      svg
        use(xlink:href="./img/sprite.svg#fi_close")

  a(href="#" title=(langRo ? "Înscrie-te" : "Записаться") data-target="popup_booking").js-popup_opener.booking.active
    svg
      use(xlink:href="./img/sprite.svg#calendar_check")
    span=(langRo ? "Înscrie-te" : "Записаться")
