body {
  background-color: $black;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

.hidden {
  display: none;
}
