.booking {
  &__price {
    font-size: 32px;
    font-weight: bold;
    color: $yellow;
  }
  &__agree {
    font-weight: bold;
    margin-right: 32px;
    padding: 10px;

    a {
      color: $yellow;
    }
  }
  &__footer_in {
    display: flex;
    justify-content: space-between;
  }
}
