.bookin_form {
  display: grid;
  grid-row-gap: calc($gap / 2);
  margin-bottom: 40px;

  &__phone {
    position: relative;

    &::before {
      content: "+373";
      top: -2px;
      left: 1px;
      position: absolute;
      font-size: 20px;
      font-weight: bold;
      padding: 24px;
      z-index: 2;
    }

    input {
      padding-left: 78px;
    }
  }
}

@media (min-width: $tablet) {
  .bookin_form {
    grid-template-columns: 1fr 3fr;
    grid-column-gap: $gap;

    &__calendar {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 6;
    }
    &__time {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}

@media (min-width: $desktop) {
  .bookin_form {
    grid-template-columns: repeat(3, 1fr);

    &__calendar {
      grid-row-end: 5;
    }
    &__time {
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    &__phone {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__email {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}
