.button {
  display: inline-block;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 30px;

  &:hover {
    cursor: pointer;
    transition: 0.2s;
  }

  & svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
  }

  &.number {
    color: $black;
    background-color: $yellow;

    &:hover {
      background-color: darken($yellow, 10%);
    }
  }

  &.telegram {
    border: 1px solid rgba($white, 0.2);
    color: $yellow;

    &:hover {
      background-color: $yellow;
      color: $black;

      & svg {
        fill: $black;
      }
    }

    & svg {
      fill: $yellow;
    }
  }
}
