.button {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background-color: $yellow;
  color: $black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;

  & img {
    margin-right: 10px;
  }
}
