.button {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 30px;

  &:hover {
    cursor: pointer;
    transition: 0.2s;
  }

  & svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  &.number {
    color: $black;
    background-color: $yellow;

    &:hover {
      background-color: darken($yellow, 10%);
    }
  }
}
