.footer {
  position: relative;

  &_sticky {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    background-color: #2f3e53 !important;
    border-radius: 30px 30px 0 0;
    z-index: 5;
  }

  &__in {
    margin-top: 200px;
    padding: 0 20px 20px;
  }

  &__logo {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
  }

  &__socials {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    & .telegram,
    & .socials__popup {
      display: none !important;
    }
  }
}

@media (min-width: $mobile) {
  .footer {
    background-color: $blue;
  }
}

@media (min-width: $desktop) and (min-height: 575px) {
  .footer {
    padding: 15px 0 70px;

    &__in {
      margin-top: 80px;
    }

    &__logo {
      top: 67%;
      bottom: unset;
    }
  }
}
