.grid {
  margin-top: 75px;

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 30px;
    }

    &-icon {
      min-width: 64px;
      min-height: 64px;
      margin-right: 20px;
    }

    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      & > .heading {
        width: 180px;
      }
    }

    &-content {
      margin-left: 84px;
      color: $gray;

      &_wide {
        margin-top: 45px;
      }

      & > .heading {
        margin-bottom: 10px;
      }
    }

    &-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 230px;

      & > h2 {
        margin-right: 15px;
        margin-bottom: 0;
        font-size: 72px;
        line-height: 62px;
        font-weight: 600;
        color: white;
      }

      & > p {
        font-size: 24px;
        color: white;
        font-weight: 600;
      }
    }

    &-price {
      position: absolute;
      bottom: -35px;
      left: 0;
      font-size: 32px;
      line-height: 32px;
      color: $yellow;
    }
  }
}
