.heading {
  font-weight: 600;
  color: $white;
  line-height: 1.33;

  &_h1 {
    margin-bottom: 20px;
    font-size: 48px;
    letter-spacing: -0.03em;
  }

  &_h2 {
    font-size: 32px;
  }

  &_h3 {
    font-size: 24px;
  }

  &_h4 {
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.5;
  }
}

@media (max-width: $mobile) {
  .heading {
    &_h1 {
      font-size: 35px;
      line-height: 35px;
    }
  }
}

@media (min-width: $tablet) and (min-height: 575px) {
  .heading {
    &_h1 {
      font-size: 72px;
      line-height: 72px;
    }
  }
}
