.heading {
  font-weight: 600;
  color: $white;
}

.heading_h1 {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 48px;
}

.heading_h3 {
  margin-bottom: 10px;
  line-height: 24px;
  font-weight: 500;
}
