.hero {
  position: relative;
  height: 100vh;

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 270px;
      left: 0;
      top: 0;
      background: linear-gradient(
        180deg,
        #2654a8 0%,
        rgba(30, 82, 163, 0) 100%
      );
      opacity: 0.6;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 455px;
      left: 0;
      bottom: 0;
      background: linear-gradient(0deg, #111b2d 0%, rgba(12, 55, 121, 0) 100%);
    }
  }

  &__inner {
    padding: 0 25px;
    position: absolute;
    bottom: 20px;
    z-index: 2;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &_desktop {
      display: none;
    }
  }

  // &__content {
  //   width: 325px;
  // }

  &__chevron {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 16px;
    background-color: $black;
    border-radius: 30px 30px 0 0;
    z-index: 2;

    &:hover {
      cursor: pointer;

      & svg {
        transform: translateY(10px);
      }
    }

    & svg {
      width: 24px;
      height: 24px;
      transition: 0.3s;
    }
  }
}

@media (min-width: $tablet) {
  .hero {
    &__background {
      position: relative;
    }

    &__inner {
      bottom: 65px;
    }

    &__socials {
      display: none;

      &_desktop {
        display: flex;
        margin-bottom: 0;

        & .facebook,
        & .instagram {
          display: none;
        }
      }
    }

    &__content {
      margin-bottom: 20px;
      width: 360px;

      & p {
        width: 285px;
      }
    }

    &__chevron {
      display: block;
    }
  }
}
