@media (max-width: 10000px), (orientation: landscape) and (max-height: 575px) {
  .hero {
    position: relative;
    height: 100vh;

    &__background {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 270px;
        left: 0;
        top: 0;
        background: linear-gradient(
          180deg,
          #2654a8 0%,
          rgba(30, 82, 163, 0) 100%
        );
        opacity: 0.6;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 455px;
        left: 0;
        bottom: 0;
        background: linear-gradient(
          0deg,
          #111b2d 0%,
          rgba(12, 55, 121, 0) 100%
        );
      }
    }

    &__inner {
      padding: 0 25px;
      position: absolute;
      bottom: 20px;
    }

    &__text {
      position: absolute;
      top: 90px;
      opacity: 0;
    }

    &__socials {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;

      &_desktop {
        display: none;
      }
    }
  }
}

@media (min-width: $mobile) {
  .hero {
    &__text {
      top: 110px;
    }
  }
}

@media (min-width: $tablet) and (min-height: 575px) {
  .hero {
    &__background {
      position: relative;
    }

    &__inner {
      bottom: 65px;
    }

    &__socials {
      display: none;

      &_desktop {
        display: flex;
        margin-bottom: 0;

        & .facebook,
        & .instagram {
          display: none;
        }
      }
    }

    &__text {
      position: static;
      margin-bottom: 20px;
      width: 360px;
      opacity: 1;

      & p {
        width: 285px;
      }
    }
  }
}
