.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  display: none;

  &.active {
    display: block;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);

    @supports (backdrop-filter: blur(60px)) {
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(20px);
    }
  }

  &__container {
    overflow-y: auto;
    height: 100%;
  }
  &__main {
    position: relative;
    padding: 24px 24px 160px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__logo {
    width: 25%;
    .logo img {
      width: 80px;
    }
  }
  &__title {
    order: 3;
    &_heading.heading {
      font-weight: 700;
    }
  }
  &__buttons {
    order: 2;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;

    &_item {
      margin-left: 20px;
    }
  }

  &__content {
    padding-top: 24px;
    max-width: 770px;
    margin: 0 auto;
    color: $white;

    &_text {
      margin-bottom: 40px;

      a {
        color: $yellow;

        &:hover {
          color: $yellow;
        }
        &[href^=tel]{
          white-space: nowrap;
        }
      }
    }
  }

  &__notes {
    &_item {
      margin-bottom: 24px;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $black;
    color: $white;
    padding: 16px;
    box-shadow: 0px -10px 40px 0px rgba(black,.4);
    font-size: 16px;

    &_in {
      max-width: 1140px;
      margin: 0 auto;
    }

    &_actions {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: $mobile) {
  .popup {
    &__header {}
    &__title {
      width: 100%;
    }
    &__buttons {
      width: 25%;
      margin-bottom: 16px;
    }
  }
}

@media (min-width: $tablet) {
  .popup {
    &__header {}
    &__title {
      &_heading {
        text-align: center;
      }
    }
    &__main {
      max-width: 1140px;
      margin: 0 auto;
      flex-grow: 1;
    }
    &__notes {
      column-count: 2;
      column-gap: 48px;

      &_item {
        display: inline-block;
      }
    }
    &__footer {
      padding: 16px 24px;
    }
  }
}
