.promo {
  position: relative;
  margin-top: 160px;

  &__in {
    position: relative;
    padding: 0 25px;
  }

  &__telegram {
    margin-bottom: 40px;

    & .telegram {
      margin-bottom: 10px;
    }

    & p {
      max-width: 460px;
    }
  }

  &__card {
    margin-bottom: 40px;
    padding: 32px;
    background-color: rgba(#11243d, 0.9);
    border-radius: 16px;

    @supports (backdrop-filter: blur(60px)) {
      background-color: rgba(#11243d, 0.6);
      backdrop-filter: blur(60px);
    }

    & .heading {
      margin-bottom: 8px;
    }

    & .heading_h3 {
      color: $gray;
    }

    & .subheading {
      margin-bottom: 32px;
    }

    & span {
      font-size: 32px;
      line-height: 32px;
      font-weight: 300;
      color: $yellow;
    }
  }

  &__list {
    & ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 32px 0 40px;
    }

    &-item {
      margin: 0 20px 32px 0;

      & span {
        display: inline-block;
        margin-bottom: 15px;
        width: 20px;
        border-top: 2px solid $green;
      }

      & p {
        font-size: 16px;
        font-weight: 500;
        color: $gray;
      }
    }
  }

  &__vehicle {
    margin-top: 35px;
  }

  &__item {
    flex: 1 1 0;
    position: relative;
    margin-bottom: 50px;
    padding: 32px;
    background-color: linear-gradient(
      71.92deg,
      #5ad9d1 0%,
      rgba(90, 217, 209, 0) 100%
    );
    border-radius: 16px;

    & img {
      width: 100%;

      &.hydrocycle {
        max-width: 470px;
      }

      &.boat {
        max-width: 585px;
      }
    }

    &-title {
      text-align: right;

      & p {
        color: $gray;
        font-weight: 500;
      }
      & span {
        color: $white;
        font-weight: 700;
      }
    }
  }
}

@media (min-width: $mobile) {
  .promo {
    margin-top: 90px;

    &__list-item {
      max-width: 200px;
    }
  }
}

@media (min-width: $tablet) and (min-height: 575px) {
  .promo {
    padding-bottom: 80px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      background: url("../img/wave.png") repeat-x;
    }

    &__telegram {
      display: none;
    }

    &__item {
      &-title {
        font-size: 24px;

        & p {
          line-height: 32px;
        }
        & span {
          line-height: 24px;
        }
      }
    }
  }
}

@media (min-width: $desktop) and (min-height: 575px) {
  .promo {
    margin-top: 220px;

    &__card {
      max-width: 460px;
      position: absolute;
      top: -440px;
      right: 55px;
    }

    &__list {
      margin-bottom: 140px;
    }

    &__vehicle {
      display: flex;
      margin-bottom: 30px;
    }

    &__item {
      &:first-child {
        margin-right: 15px;
      }

      & img {
        &.boat {
          position: absolute;
          bottom: 0;
          left: -70px;
        }
      }
    }
  }
}
