.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;

  & svg {
    width: 24px;
    height: 24px;
    fill: transparent;
  }
}

@media (min-width: $tablet) {
  .socials {
    & a:not(:last-child) {
      margin-right: 45px;
    }
  }
}

@media (min-width: $desktop) {
  .socials {
    width: auto;
    justify-content: flex-end;
  }
}
