.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 33%;

  & > a {
    position: relative;
    transition: 0.2s;
    padding: 16px;
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;

    &:hover {
      & svg {
        width: 26px;
        height: 26px;
      }
    }

    &.telegram {
      display: none;
      border-radius: 50%;
      margin-left: 15px;
      background-color: $yellow;

      & svg {
        fill: $black;
      }
    }

    span {
      font-size: 0;
      display: none;
    }
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    display: block;
    fill: transparent;
    transition: all .2s;
  }

  &__popup {
    display: none;
  }
}

@media (min-width: $tablet) {
  .socials {
    & a:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}

@media (min-width: $tablet) and (min-height: 575px) {
  .socials {
    &__popup {
      display: block;
      position: absolute;
      left: -50px;
      top: 100%;
      margin-top: 30px;
      width: 205px;
      padding: 24px 32px 24px 24px;
      background-color: rgba(#11243d, 0.7);
      border-radius: 16px;

      @supports (backdrop-filter: blur(60px)) {
        background-color: rgba(#11243d, 0.6);
        backdrop-filter: blur(60px);
      }

      &::before {
        content: "";
        position: absolute;
        top: -8px;
        right: 20px;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent rgba(#11243d, 0.7) transparent;
        @supports (backdrop-filter: blur(60px)) {
          border-color: transparent transparent rgba(#11243d, 0.6) transparent;
        }
      }

      & .heading {
        color: $yellow;
      }

      & .subheading {
        color: $white;
        font-weight: 500;
      }

      &-close {
        position: absolute;
        width: 35px;
        height: 35px;
        top: 20px;
        right: 18px;
        background: none;
        border: none;
        cursor: pointer;

        & svg {
          opacity: 0.4;
          stroke: white;
          width: 16px;
          height: 16px;
        }

        &:hover svg {
          opacity: 1;
        }
      }

      a {
        color: $yellow;
      }
    }

    & a {
      &.telegram {
        display: inline-block;
      }
    }
  }
}
