.timeslots {

  &__times {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &::after {
      content: "";
      flex: auto;
    }

    span {
      display: inline-block;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 36px;
      text-align: center;
      min-width: 110px;

      &:hover {
        color: $yellow;
      }

      &.-active {
        background: $yellow;
        color: $black;
      }
    }
  }
}

@media (min-width: $tablet) {
  .timeslots {

  }
}

@media (min-width: $desktop) {
  .timeslots {
    
  }
}
