.timeslots {

  &__times {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    span {
      display: inline-block;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 36px;
      text-align: center;
      margin-bottom: 5px;

      &:hover {
        color: $yellow;
      }

      &.-active {
        background: $yellow;
        color: $black;
      }
    }
  }
}

@media (min-width: $tablet) {
  .timeslots {

  }
}

@media (min-width: $desktop) {
  .timeslots {
    
  }
}
