// Colors
$white: white;
$black: #111b2d;
$gray: rgba(white, 0.6);
$yellow: #ffc700;
$blue: rgba(#1070c9, 0.1);
$green: #5ad9d1;

// Media queries
$mobile: 400px;
$tablet: 768px;
$desktop: 1024px;
$desktop-lg: 1440px;
