section.hero
  .hero__background
  .hero__inner
    h1.heading.heading_h1 Wakeboarding in Moldova

    .hero__socials
      include ../button/button

      a(href="http://").facebook
        svg
          use(xlink:href="assets/sprites/sprites-colored/sprites.svg#fi_facebook")

      a(href="http://").instagram
        svg
          use(xlink:href="assets/sprites/sprites-colored/sprites.svg#fi_instagram")

    .hero__content
      h3.heading.heading_h3 Вэйкбординг, вэйксёрфинг, вэйкскейтинг и другие активности на воде.

      p.subheading Мы предлагаем инструкраж и катание за гидроциклом и лодкой в Молдове.

//TODO:
//- Добавить ссылки на соц сети
//- Сделать эффект наведения на иконки
//- Позиционировать фоновую картинку?